<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css">
    <script src="https://use.fontawesome.com/b93d0f8693.js"></script>
</head>
<body>
<header th:replace="header::header"></header>

<div class="container">
    <h2><i class="fa fa-paint-brush" aria-hidden="true"></i> Exhibit details</h2>
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" th:href="@{/exhibits}">Back to list</a></li>
        <li class="nav-item"><a class="nav-link" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')" th:href="@{'/exhibit/' + ${exhibit.id} + '/edit'}">Edit</a></li>
        <li class="nav-item"><a class="nav-link" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')" th:href="@{'/exhibit/' + ${exhibit.id} + '/delete'}"
                                                onclick="return confirm('Are you sure you want to deleted exhibit?')">Delete</a></li>
    </ul>

    <table class="table">
        <tr></tr>
        <tr>
            <td><h4>Inventory number </h4></td>
            <td th:text="${exhibit.inventoryNumber}"></td>
        </tr>
        <tr>
            <td><h4>Title: </h4></td>
            <td th:text="${exhibit.title}"></td>
        </tr>
        <tr>
            <td><h4>Author: </h4></td>
            <td th:text="${exhibit.author}"></td>
        </tr>
        <tr>
            <td><h4>Release year: </h4></td>
            <td th:text="${exhibit.releaseYear}"></td>
        </tr>
         <tr>
            <td><h4>Value: </h4></td>
            <td th:text="${exhibit.value}"></td>
        </tr>
          <tr>
            <td><h4>Description: </h4></td>
            <td th:text="${exhibit.description}"></td>
        </tr>
    </table>
</div>

<footer th:replace="footer::footer"></footer>
</body>
</html>
