<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User roles</title>
    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css">
    <script src="https://use.fontawesome.com/b93d0f8693.js"></script>
</head>
<body>
<header th:replace="header::header"></header>

<div class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" th:href="@{/roles}">Back to list</a></li>
    </ul>
    <div>
        <h2 style="display: inline-block"><i th:class="${role.id} == null ? 'fa fa-plus' : 'fa fa-pencil-square-o'" aria-hidden="true"></i></h2>
        <h2 style="display: inline-block" th:text="${role.id} == null ? 'Create role' : 'Editing ' + ${role.name} + ' role'"></h2>
    </div>
    <ul th:each="error : ${errors}" style="color: #ff0000">
        <li th:text="${error}"></li>
    </ul>
    <br/>
    <form method="POST" th:action="@{${role.id} == null ? '/role/' : '/role/' + ${role.id}}" th:object="${role}">

        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="name"><b>Name: </b></label>
            <input class="form-control" type="text" th:field="*{name}" id="name"/>
        </div>
        <div class="form-group">
            <label for="description"><b>Description: </b></label>
            <input class="form-control" type="text" id="description" th:field="*{description}"/>
        </div>
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
</div>

<footer th:replace="footer::footer"></footer>
</body>
</html>
